<!-- Toast notification -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="appToast" class="toast align-items-center border-0" role="alert">
    <div class="d-flex">
      <div class="toast-body" id="toastBody"></div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
    </div>
  </div>
</div>

<script src="/common/thirdparty/jquery/js/jquery.min.js"></script>
<script src="/common/thirdparty/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/app.js"></script>
